{
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "jsxSingleQuote": true,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2
}
